#stock_ticker_settings {
    .stock_ticker_wrapper {
        display: table;

        .content_container {
            display: table-cell;

            .fieldset-flex {
                display: flex;
                flex-wrap: wrap;
                gap: 6px;
            }
            button[name="st_force_data_fetch_stop"] {
                display: none;
                &.enabled {
                    display: initial;
                }
            }
            .st_force_data_fetch {
                &:empty {
                    display: none;
                }
                background: #23282d;
                color: #ccc;
                margin-top: 10px;
                padding: 5px;
                font-family: monospace;
            }
            .st_symbol_search_test_log {
                &:empty {
                    display: none;
                }
                .error {
                    color: #D8442F;
                }
                pre {
                    background: #23282d;
                    color: #ccc;
                    margin-top: 10px;
                    padding: 5px;
                    font-family: monospace;
                    white-space: pre-wrap;
                }
            }
        }

        .sidebar_container {
            display: table-cell;
            padding: 0 0 0 20px;
            width: 25%;

            .references {
                margin: 0 0 20px;
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 6px;
                    margin: 0;
                    li {
                        margin: 0;
                    }
                }
            } // .references
            .disclaimer {
                background: #fff;
                border: 1px dashed rgba(0,0,0,0.2);
                padding: 20px;

                h2 {
                    margin-top: 0;
                }
                p:last-child {
                    margin-bottom: 0;
                }
            } // .disclaimer
        }
    }

    .help {
        display: flex;
        flex-direction: row;
        background: #fff;
        padding: 20px;
        border: 1px solid #000;

        .overview {
            width: 60%;
            display: inline-flex;
            flex-direction: column;

            table {
                width: 100%;
                tbody th {text-align: left; }
                tr th, tr td {
                    border-bottom: 1px solid #000;
                }
            }
            dl {
                padding-top: 5px;
                dt {
                    float: left;
                    width: 110px;
                    padding: 5px;
                    &.head {
                        font-weight: 600;
                    }
                }
                dd {
                    &.head {
                        border-top: 1px solid #ccc;
                        font-weight: 600;
                    }
                    box-sizing: border-box;
                    width: 100%;
                    border: 1px solid #ccc;
                    border-top: 0;
                    margin: 0;
                    padding: 5px 5px 5px 120px;
                }
            }
        }
        .exchanges {
            width: 40%;
            display: flex;
            justify-content: space-between;
            .exchanges-supported,
            .exchanges-unsupported {
                display: inline-flex;
                flex-direction: column;
                padding-left: 20px;
            }
            .exchanges-supported * {
                color: #009D59;
            }
            .exchanges-unsupported * {
                color: #D8442F;
            }
        }
    }
}

@media only screen and (max-width: 1480px) {
    #stock_ticker_settings {
        .help {
            flex-direction: column;
            .overview {
                width: 100%;
            }
            .exchanges {
                width: 100%;
                justify-content: flex-start;
                .exchanges-supported {
                    padding-left: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 782px) {
    #stock_ticker_settings {
        .stock_ticker_wrapper {
            display: block;

            .content_container,
            .sidebar_container {
                width: 100%;
                display: block;
            }
            .sidebar_container {
                padding: 0;
                margin-bottom: 20px;
            }
        }
    }
}