// .stock_ticker.static {
//     display: block;
// }
// .widget ul.stock_ticker {
//     margin-bottom: 0;
//     padding: 0;
// }
.stock-ticker-wrapper {

    ul {
        // general
        &.stock_ticker {
            margin: 0;
            padding: 0;
            list-style: none!important;
            line-height: normal;

            // float: left;
            display: block;
            position: relative;

            // &.static {
            //     display: block;
            // }
            li {
                list-style: none!important;
            }

            .sqitem {
                white-space: nowrap;
                text-decoration: none;
            }
            /*li>*/.sqitem:before {
                content: "";
            }
            .plus > .sqitem:before {
                content: url(../img/up_g.gif);
                margin-right: 2px;
            }
            .minus > .sqitem:before {
                content: url(../img/down_r.gif);
                margin-right: 2px;
            }
        }
        // animated ticker
        &.stockticker {
            li {
                float: left;
                margin: 0;
                padding: 0 20px 0 0;
                // display: block;
                // min-height: 20px;
            }
            .sqitem {
                // white-space: nowrap;
                padding: 0;
                margin: 0;
                border: 0;
                // height: 20px;
                // line-height: 20px;
                // text-decoration: none;
                display: block;
            }
            span {
                margin: 0 10px 0 0;
            }
        }
    }

    // For Aniumated Ticker
    .stock-ticker-container {
        width: 100%;
        // min-height: 20px;
        // line-height: 20px;
        margin: 0;
        padding: 0;
        overflow: hidden;

        .mask {
            position: relative;
            top: 0;
            // min-height: 20px;
            // line-height: 20px;
            overflow: hidden;
        }
        ul {
            -webkit-transition: all 0s linear;
            -moz-transition: all 0s linear;
            -o-transition: all 0s linear;
            transition: all 0s linear;
            // position: relative;
            // margin-left: 10px;
            list-style-type: none;
            // max-height: 20px;
            // margin: 0;
            // padding: 0;
            // overflow: hidden;
            float: left;
            // display: block;
        }
    }
}
